.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;;
    }
  &__title {
    text-align: center;
    margin-bottom: 50px;
    @include font(700, 28px, 1.1);
    color: var(--second-accent-color);
    @media screen and (min-width: 1200px) {
      @include font;
      margin-bottom: 50px;
    }
  }
  &__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc(100% / 2 - 30px);
    @media screen and (min-width: 768px) {
      width: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: 1200px) {
      width: calc(100% / 6 - 30px);
      margin-left: 0px;
      margin-bottom: 0;
    }
  }


  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      border-radius: 4px;
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
      min-width: 226px;
    }
    @media screen and (min-width: 1200px) {
      min-width: 176px;
    }
  }

  &__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}
