.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    align-items: baseline;
  }
  .logo {
    color: var(--white-color);
    margin-bottom: 20px;
    display: flex;
    font-family: Raleway;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    &:hover {
      color: var(--accent-color);
    }
  }
  &__address,
  &__link {
    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
  }
  &__link {
    color: rgba(255, 255, 255, 0.6);
    display: block;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__address {
    margin-bottom: 9px;
  }

  &__social-networks {
    margin-left: 70px;
  }

  &__join-container {
    align-items: baseline;
    margin-left: 93px;
    width: 570px;
    height: 86px;
  }

  &__join-container {
    h3 {
      color: #ffffff;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-top: 30px;
      margin-bottom: 10px;
    }
  }

  &__join {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__join-button {
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    color: #ffffff;
    background-color: var(--accent-color);
    padding: 10px 56px 10px 36px;
    min-width: 200px;
    justify-content: center;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--accent-color);
      background-color: var(--title-text-color);
    }
  }

  &__join-input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    padding-left: 16px;
    color: #ffffff;
  }

  &__join-icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    fill: #ffffff;
  }
}
