.hero {
    display: flex;
    padding-top: 0;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    border: 1px solid #ececec;
    
    &__title {
        color: var(--white-color);
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 0;
        margin-bottom: 30px;
        text-transform: uppercase;
    }

    &__button {
        display: inline-block;
        border-radius: 4px;
        border: 4px transparent;
        color: var(--white-color);
        background-color: var(--background-button);
        min-width: 200px;
        height: 50px;
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: var(--accent-color);
            background-color: var(--white-color);
        }
    }
    &.section {
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
        height: 600px;
        background-color: var(--hero-background-color);
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images-studio/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}



